html {
  overflow: hidden;
}

.root {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  border: 1px solid black;
  overflow: scroll;
  height: calc(100vh - calc(16px + 36px + 16px + 16px));
  width: fit-content;
  max-width: calc(100vw - 32px);
}

.sorting {
  margin-left: 4px;
}

.header {
  background-color: aquamarine;
}

.cell {
  white-space: pre;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
}

.tooltip {
  white-space: pre-wrap;
  border-radius: 0;
  font-size: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  width: max-content;
}
